:root {
  --primary-blue: rgb(40, 77, 150);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #cacaca;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  height: 100%;
  width: 80%;
  min-height: 100vh;
  /* min-width: 50vw; */

  margin: 0 auto;

  position: relative;
}

/* for timeline line */
main::before {
  content: "";
  border-left: 10px solid var(--primary-blue);
  /* so it will force this pseudo element to appear from the top to bottom */
  top: 0;
  bottom: 0;

  position: absolute;
  left: 50%;
  /* for centering the middle of the pseudo element */
  transform: translateX(-50%);
  z-index: -10;
}
/* DELETE 
.time-line {
  height: 90vh;
  border-left: 10px blue;

  left: 50%;
  transform: translateX(-50%);
} */

.card {
  background-color: #fff;
  width: 400px;

  margin: 5% 0;
  padding: 3%;

  position: relative;

  box-shadow: 0 8px 5px darkgray;
}

/* .card:nth-child(2n) {
  margin-left: 20%;
} */

.card:nth-child(2n) {
  clear: right;
}

.card:nth-child(2n)::after {
  content: "";
  border-left: 10px solid #fff;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;

  position: absolute;
  top: 20%;
  right: -10px;
}

.card:nth-child(2n + 1) {
  float: right;
}

.card:nth-child(2n + 1)::after {
  content: "";
  border-right: 10px solid #fff;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;

  position: absolute;
  top: 20%;
  left: -10px;
}

img {
  width: 100%;
}

.date {
  background-color: red;
  color: #fff;
  padding: 10px;

  position: absolute;
  top: 0;
  right: 0;
}

.card:nth-child(odd) > .date {
  left: 0;
  right: unset;
}

button {
  background-color: var(--primary-blue);
  color: #fff;
  width: 65px;
  height: 30px;

  border: none;

  font-size: small;
  /* why does this do nothing ? */
  padding: auto 30px;
}

button:hover {
  color: #cacaca;
}

.quote > p {
  margin-left: 10%;
  position: relative;
}

.quote > p::before {
  content: "";
  top: 0;
  bottom: 0;
  border-left: 10px solid var(--primary-blue);

  /* This breaks it */
  /* float: left */
  position: absolute;
  left: -10%;
  transform: translateX(50%);
}

.pencil {
  background-color: var(--primary-blue);
  padding: 5px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#pencil-a {
  top: 130px;
}

#pencil-b {
  top: 590px;
}

#pencil-c {
  top: 1125px;
}

@media (max-width: 1044px) {
  main::before {
    left: 0;
    transform: translateX(-350%);
  }

  .card {
    width: 80%;
  }
  .card:nth-child(2n + 1) {
    float: unset;
  }

  .card:nth-child(2n)::after {
    border-right: 10px solid #fff;

    border-left: initial;

    top: 20%;
    right: 100%;
  }
}
